body {
  margin: 0;
  min-height: 100vh;
  background-color: #c6c4c4;
}

h1 {
  font-size: 20px;
}

main {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#photo-container {
  position: relative;
  overflow: visible;
}

#grow-button {
  margin: 0;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 4px;
}

#grow-button:hover,
#grow-button:active {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.hair-left {
  position: absolute;
  bottom: 44px;
  left: 0;
  transition: bottom .6s ease-in-out;
}

.hair-right {
  position: absolute;
  bottom: 46px;
  right: 0;
  transition: bottom .6s ease-in-out;
}